.container {
  margin: 10rem 2rem 2rem 2rem;
  position: relative;
  height: 100%;

  .product-container {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);

    background: rgba(255, 255, 255, 0.8);
    width: 50%;
    height: 35rem;
    padding: 1rem;
    margin: 0 2rem 2rem 0;

    .product-image {
      background-image: url('../../../../assets/images/box.png');
      width: 33rem;
      height: 33rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }

    h1 {
      font-size: 2.2rem;
      color: #5d55a1;
      white-space: nowrap;
      margin-bottom: 8px;
    }

    .product-price {
      color: #7c7a9a;

    }

    .product-stars {
      width: 22rem;

      ::ng-deep .star {
        font-size: 2.5rem !important;
      }
    }

    .comment-container {
      width: 100%;

      .comment {
        border-bottom: 1px solid #bbb7b7;

        .person {
          align-items: center;
          margin-top: 1rem;

          .name {
            margin-left: 5px;
          }
        }

        .text {
          margin-left: 2.7rem;
          width: 50rem;
        }
      }
    }
  }
}
